django>=5.0,<5.1
django-environ
django-linear-migrations
django-migration-linter
django-version-checks
psycopg[binary]

# dev dependencies
django-debug-toolbar
django-watchfiles
ipython
pre-commit
rich
ruff
