django>=5.0,<5.1
django-environ
django-extra-checks
django-filter
django-linear-migrations
django-migration-linter
django-queryhunter
django-seal
django-version-checks
psycopg[binary]
urlman

# dev dependencies
django-debug-toolbar
django-perf-rec
django-stubs
django-stubs-ext
django-test-plus
django-watchfiles
ipython
mypy
pre-commit
pytest
pytest-cov
pytest-django
pytest-reverse
pytest-sugar
pytest-watcher
pytest-xdist
time-machine

rich
ruff
